.body {
    font-family: "Underdog", system-ui;
    background-color: rgb(57, 54, 54);
    color: rgb(211, 210, 206);
}

.Base1 {
    text-align: center;
}

li {
    list-style: none;
}

.navbar-custom {
    background-color: rgb(196, 185, 185);
}

.Base2 {
    display: flex;
    align-items: center;

}

.classT{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.Clase3 {
    padding: 15px 15px;
    border-radius: 8px;
    border-style: ridge;
    font-size: 20px;
    background-color: rgb(57, 54, 54);
    object-fit: contain;
}

.Base3 {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.Clase4 {
    text-align-last: center;
    justify-items: center;
    background-color: rgb(57, 54, 54);
    height: 300px;
    object-fit: contain;
    width: auto;
}

.Clase5 {
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}
.Clase6{
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}
.Base4 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Clase7 {
    text-align-last: center;
    justify-items: center;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: contain;
    width: auto;

}

.Clase8 {
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}
.Clase9{
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}

.Base5 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Clase10 {
    text-align-last: center;
    justify-items: center;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: contain;
    width: auto;

}

.Clase11 {
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}
.Clase12{
    text-align-last: center;
    justify-items: right;
    background-color: rgb(57, 54, 54);
    height: 320px;
    object-fit: cover;
    width: auto;

}


footer {
    padding: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black
}

a:active {
    color: black;
}

@media (max-width: 600px) {
    .conte {
        grid-template-columns: 1fr;
    }
}