body {
    font-family: "Underdog", system-ui;
    background-color: rgb(241, 115, 83);
}


.conte {
   display:grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: repeat(5, 1fr);
}

.conte1 {
    justify-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-row: 1/2;
}
.conte11{
     margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-row: 1/2;
    grid-column: 2/3
}


.conte2 {
    justify-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-row: 2/3;
    grid-column: 1/2;
}
.conte22{
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-column: 2/3;
    grid-row: 2/3;
}
.conte222{
    justify-items: center;
background-color: rgba(0, 0, 0, 0);
justify-items: center;
padding: 15px 15px;
border-radius: 8px;
display: inline-block;
transition: transform 200ms ease

}
.conte222:hover{transform: scale(1.2);}

.conte223{
background-color: rgba(0, 0, 0, 0);
padding: 15px 15px;
border-radius: 8px;
display: inline-block;
transition: transform 200ms ease

}
.conte223:hover{transform: scale(1.2);}

.conte3 {
    justify-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
     grid-row: 3/4;
}
.conte33{
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-column: 2/3;
    grid-row: 3/4; 
}

.conte4 {
    justify-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
     grid-row: 4/5;
}
.conte44{
     margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.conte5 {
    justify-items: center;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
     grid-row: 5/6;
}
.conte55{
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.105);
    padding: 15px 15px;
    border-radius: 8px;
     grid-row: 5/6;
     grid-column: 2/3;
}

.contenedor {
    justify-content: space-around;
}

main {
    background-color: brown;
    margin: 8px;
    border-radius: 8px;
    border-color: black;
    border: 10px;
}
a:link{
 color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:black
}
a:active{
    color: black;
}
h1 {
    margin: 8px
}
@media (max-width: 600px) {
    .conte{ grid-template-columns: 1fr;}
}